@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&family=Satisfy&display=swap');

body{
    font-family: 'Ropa Sans', sans-serif;
    background-image: url("../images/Spanish-Tutor.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.full{
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 40px;
}
.left{
    display: flex;
    height: 87vh;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-size: 30px;
}

.left h1{
    margin-bottom: 20px;
    font-family: 'Satisfy', cursive;
}

.show{
    display: none;
}

.switch{
    margin: 10px;
    display: inline-block;
}
.switch:hover{
    color: black;
    cursor: pointer;
}
